<h2><%= @message.title %></h2>
<p>posted by <%= @message.user.email %><%= time_ago_in_words(@message.created_at) %>ago</p>
<p><%= @message.description %></p>
<!-- add a poster at timestamp -->


<h3>Comments:</h3>
<%= render @message.comments %>


<h3>reply to message:</h3>
<%= render 'comments/form' %>


<%= link_to "back", messages_path(@message) %>
<% if user_signed_in? %>
<% if @message.user_id == current_user.id %>
<%= link_to "edit", edit_message_path(@message) %>
<%= link_to "delete", message_path(@message), method: :delete, date: { confirm: "are you sure?" } %>
<%= link_to "Delete", message_path(@message), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
<% end %>
<% end %>
